.root {
  width: 1576px;
  float: right;
  margin-top: 64px;
}

.form {
  width: 100%;
}

.section {
  margin-top: 72px;
}

@mixin commonFont {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

label {
    color: white !important;
}

.radioButtonContainer {
  @include commonFont;
  width: 49%;
  &>span {
    color: white;
  }
}

.formLabel {
  color: white;
}
